@import 'tailwindcss';
@plugin '@iconify/tailwind4' {
	prefixes: 'tabler';
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
	--font-sans: 'Lexend Variable', ui-sans-serif, system-ui, sans-serif;
	--font-display: 'Parkinsans Variable', ui-sans-serif, system-ui, sans-serif;
	--breakpoint-xs: 28rem;
	--color-neutral-850: #1a1a1a;
}

@layer base {
	html {
		@apply dark:bg-neutral-850 bg-white font-sans text-neutral-900 dark:text-neutral-50;

		scrollbar-gutter: stable both-edges;
		interpolate-size: allow-keywords; /* Experimental Chrome-only attribute */

		color-scheme: only light;
		&[data-theme='dark'] {
			color-scheme: only dark;
		}
	}

	:is(*, *:-moz-focusring) {
		@apply outline-focus;
	}

	*:not(:focus-visible) {
		@apply outline-none;
	}

	* {
		@apply border-neutral-300 dark:border-neutral-700;
	}

	@supports selector(::details-content) and (not (-moz-appearance: none)) {
		@media (prefers-reduced-motion: no-preference) {
			::details-content {
				height: 0;
				transition:
					height 100ms ease,
					content-visibility 100ms ease allow-discrete;
				overflow: clip;
			}

			details[open]::details-content {
				height: auto;
			}
		}
	}
}

@utility outline-focus {
	outline-width: 2px;
	outline-style: solid;
	outline-offset: 2px;
	outline-color: theme(--color-pink-950);
	[data-theme='dark'] & {
		outline-color: theme(--color-pink-100);
	}
}

@utility no-transition {
	:where(&, & *) {
		transition: none !important;
	}
}

@utility gutter-stable {
	scrollbar-gutter: stable both-edges;
}

@utility capitalize-first {
	&::first-letter {
		text-transform: uppercase;
	}
}

@utility squircle {
	border-radius: theme(--radius-lg);
	@supports (corner-shape: squircle) {
		border-radius: theme(--radius-2xl);
		corner-shape: squircle;
	}
}
