@import 'tailwindcss';
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
	--font-sans: 'Lexend Variable', ui-sans-serif, system-ui, sans-serif;
	--font-display: 'Parkinsans Variable', ui-sans-serif, system-ui, sans-serif;
}

@layer base {
	html {
		@apply font-sans text-zinc-900 dark:bg-zinc-900 dark:text-zinc-50;
		font-size: 18px;
	}

	body {
		scrollbar-gutter: stable both-edges;
	}
}

.no-transition,
.no-transition * {
	transition-duration: 0ms !important;
}
