@import 'tailwindcss';
@source not "./locales/";

@plugin '@iconify/tailwind4' {
	prefixes: 'tabler';
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
	--font-sans: 'Golos Text Variable', ui-sans-serif, system-ui, sans-serif;
	--breakpoint-xs: 28rem;
	--color-neutral-825: oklch(0.2434 0 0);
	--color-neutral-850: oklch(0.2178 0 0);
}

@layer base {
	html {
		@apply bg-white font-sans text-neutral-900 dark:bg-neutral-850 dark:text-neutral-50;

		scrollbar-gutter: stable;
		interpolate-size: allow-keywords; /* Experimental Chrome-only attribute */

		color-scheme: only light;
		&[data-theme='dark'] {
			color-scheme: only dark;
		}
	}

	:is(*, *:-moz-focusring) {
		@apply outline-focus;
	}

	*:not(:focus-visible) {
		@apply outline-none;
	}

	* {
		scroll-margin-top: 1rem;
		@apply border-neutral-300 dark:border-neutral-700;
	}
}

@utility outline-focus {
	outline-width: 2px;
	outline-style: solid;
	outline-offset: 2px;
	outline-color: theme(--color-pink-950);
	[data-theme='dark'] & {
		outline-color: theme(--color-pink-100);
	}
}

@utility no-transition {
	:where(&, & *) {
		transition: none !important;
	}
}

@utility gutter-stable {
	scrollbar-gutter: stable both-edges;
}

@utility capitalize-first {
	&::first-letter {
		text-transform: uppercase;
	}
}

@utility squircle {
	border-radius: theme(--radius-lg);
	@supports (corner-shape: squircle) {
		border-radius: theme(--radius-2xl);
		corner-shape: squircle;
	}
}

/* Hide popovers when closed (override) */
[popover]:not(:popover-open) {
	display: none;
}

/* corner-shape looks buggy inside dialogs */
dialog .squircle {
	border-radius: theme(--radius-lg);
	corner-shape: initial;
}
