@import 'tailwindcss';

@theme {
	--font-sans: 'Albert Sans Variable', ui-sans-serif, system-ui, sans-serif;
	--font-display: 'Parkinsans Variable', ui-sans-serif, system-ui, sans-serif;
}

@layer base {
	html,
	body {
		color: theme(--color-gray-900);
		font-family: theme(--font-sans);
		font-size: 18px;
	}
}
