@import 'tailwindcss';

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
	--font-sans: 'Lexend Variable', ui-sans-serif, system-ui, sans-serif;
	--font-display: 'Parkinsans Variable', ui-sans-serif, system-ui, sans-serif;
}

@layer base {
	html {
		@apply bg-white font-sans text-zinc-900 dark:bg-zinc-900 dark:text-zinc-50;

		scrollbar-gutter: stable both-edges;
    interpolate-size: allow-keywords; /* Experimental Chrome-only attribute */

		color-scheme: light dark;
		&[date-theme='dark'] {
			color-scheme: dark light;
		}
	}

	* {
		@apply border-zinc-300 dark:border-zinc-700;
	}
}

@utility no-transition {
	:where(&, & *) {
		transition: none !important;
	}
}
