@import 'tailwindcss';

@theme {
	--font-sans: 'Sofia Sans Variable', ui-sans-serif, system-ui, sans-serif;
}

@layer base {
	html,
	body {
		font-family: var(--font-sans);
		font-size: 18px;
	}

	input[type='time'] {
		&::-webkit-calendar-picker-indicator,
		&::-webkit-inner-spin-button,
		&::-webkit-clear-button {
			-webkit-appearance: none;
			appearance: none;
			display: none;
		}
	}
}
