@import 'tailwindcss';

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
	--font-sans: 'Lexend Variable', ui-sans-serif, system-ui, sans-serif;
	--font-display: 'Parkinsans Variable', ui-sans-serif, system-ui, sans-serif;
	--breakpoint-xs: 30rem;
	--color-neutral-850: #1a1a1a;
}

@layer base {
	html {
		@apply bg-white font-sans text-neutral-900 dark:bg-neutral-850 dark:text-neutral-50;

		scrollbar-gutter: stable both-edges;
		interpolate-size: allow-keywords; /* Experimental Chrome-only attribute */

		color-scheme: only light;
		&[data-theme='dark'] {
			color-scheme: only dark;
		}
	}

	* {
		@apply border-neutral-300 dark:border-neutral-700;
	}
}

@utility no-transition {
	:where(&, & *) {
		transition: none !important;
	}
}

@utility gutter-stable {
	scrollbar-gutter: stable both-edges;
}
