@import 'tailwindcss';
@plugin '@iconify/tailwind4' {
	prefixes: 'tabler';
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
	--font-sans: 'Lexend Variable', ui-sans-serif, system-ui, sans-serif;
	--font-display: 'Parkinsans Variable', ui-sans-serif, system-ui, sans-serif;
	--breakpoint-xs: 28rem;
	--color-neutral-850: oklch(0.2178 0 0);
	--color-pink-50: oklch(0.968 0.017 3.77);
	--color-pink-100: oklch(0.936 0.034 4.21);
	--color-pink-200: oklch(0.863 0.078 3.82);
	--color-pink-300: oklch(0.8 0.121 3.86);
	--color-pink-400: oklch(0.738 0.17 4.31);
	--color-pink-500: oklch(0.676 0.226 4.33);
	--color-pink-600: oklch(0.601 0.242 4.65);
	--color-pink-700: oklch(0.551 0.223 4.62);
	--color-pink-800: oklch(0.401 0.161 4.54);
	--color-pink-900: oklch(0.273 0.11 4.81);
	--color-pink-950: oklch(0.209 0.084 4.81);
}

@layer base {
	html {
		@apply dark:bg-neutral-850 bg-white font-sans text-neutral-900 dark:text-neutral-50;

		scrollbar-gutter: stable;
		interpolate-size: allow-keywords; /* Experimental Chrome-only attribute */

		color-scheme: only light;
		&[data-theme='dark'] {
			color-scheme: only dark;
		}
	}

	:is(*, *:-moz-focusring) {
		@apply outline-focus;
	}

	*:not(:focus-visible) {
		@apply outline-none;
	}

	* {
		scroll-margin-top: 1rem;
		@apply border-neutral-300 dark:border-neutral-700;
	}

	@supports selector(::details-content) and (not (-moz-appearance: none)) {
		@media (prefers-reduced-motion: no-preference) {
			::details-content {
				height: 0;
				transition:
					height 100ms ease,
					content-visibility 100ms ease allow-discrete;
				overflow: clip;
			}

			details[open]::details-content {
				height: auto;
			}
		}
	}
}

@utility outline-focus {
	outline-width: 2px;
	outline-style: solid;
	outline-offset: 2px;
	outline-color: theme(--color-pink-950);
	[data-theme='dark'] & {
		outline-color: theme(--color-pink-100);
	}
}

@utility no-transition {
	:where(&, & *) {
		transition: none !important;
	}
}

@utility gutter-stable {
	scrollbar-gutter: stable both-edges;
}

@utility capitalize-first {
	&::first-letter {
		text-transform: uppercase;
	}
}

@utility squircle {
	border-radius: theme(--radius-lg);
	@supports (corner-shape: squircle) {
		border-radius: theme(--radius-2xl);
		corner-shape: squircle;
	}
}
