name: CD

on:
  push:
    branches: [main]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy
        uses: appleboy/ssh-action@master
        with:
          username: ${{ secrets.SSH_USERNAME }}
          host: ${{ secrets.SSH_HOST }}
          key: ${{ secrets.SSH_KEY }}
          script: |
            cd ./prikkert
            git diff --exit-code || { echo "Uncommitted changes found. Exiting."; exit 1; }
            git pull origin main
            yes | docker compose run -T app npx drizzle-kit migrate --config drizzle.config.ts
            docker compose up -d --build --remove-orphans
